@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  box-sizing: border-box;
  font-family: Orbitron, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
}

#root {
  background-color: var(--bg-color);
}

.analog-clock-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.analog-clock {
  border-radius: 50%;
  background-color: var(--analog-bg-color);
  width: fit-content;
  height: fit-content;
  padding: 15px;
  aspect-ratio: square;
  .internal-container {
    --size: 300px;
    border-radius: 50%;
    background-color: var(--analog-inside-bg-color);
    position: relative;
    width: var(--size);
    height: var(--size);
  }
  .number {
    position: absolute;
    padding-left: 8px;
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: small;
    color: var(--primary-color);
    transform: translate(-50%, -50%) rotate(90deg)
      rotate(calc((var(--number) * 30deg)));
    span {
      display: inline-block;
      transform: rotate(-90deg) rotate(calc((var(--number) * -30deg)));
    }
  }
  .number.big {
    padding-left: 2px;
    color: var(--secondary-color);
    font-size: x-large;
  }
  .center-hand {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--secondary-color);
  }
  .hour-hand,
  .minute-hand,
  .second-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -100%;
    transform-origin: bottom center;
    border-radius: 3px;
  }
  .hour-hand {
    width: 7px;
    height: 80px;
    background-color: var(--secondary-color);
    transition-duration: 1s;
  }
  .minute-hand {
    width: 5px;
    height: 120px;
    transition-duration: 1s;
    background-color: var(--secondary-color);
  }
  .second-hand {
    width: 2.5px;
    height: 120px;
    background-color: var(--primary-color);
  }
}

.digit {
  overflow: hidden;
  height: 1lh;
  display: inline-block;
  margin-bottom: -5px;
  div {
    /* transform: translateY(-1lh); */
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.digital-clock {
  display: flex;
  align-items: center;
  gap: 5px;
  .seconds {
    font-size: x-small;
    color: var(--primary-color);
  }
}

.middle-analog {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  .right,
  .left,
  .top,
  .bottom {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .top,
  .bottom {
    flex-direction: column;
  }
}
.middle-analog.vertical {
  flex-direction: column;
}

.digital-clock-container {
  background-color: var(--digital-bg-color);
  width: fit-content;
  height: fit-content;
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(83, 83, 83, 0.448) inset;
}

.theme-swicher{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: x-large;
  }
  button{
    width: 50px;
    height: 30px;
    margin: 5px;
    border:none;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-delay: 0;
  }
  button.actif{
    width: 0;
    cursor: default;
    margin: 2.5px;
    padding: 0;
  }
}